ion-header {
  ion-toolbar {
    --background: #444;
    --color: #fff;
  }
}

ion-tabs{
  ion-tab-bar{
    --background: #1976d2;
    --color: #fff;
  }
}

ion-select::part(placeholder) {
  color: #4285f4;
  opacity: 1;
  font: bold;
  font-size: 14px;
}

