
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-list>
          <ion-label>
            Liga
          </ion-label>
        <ion-item>
          <ion-select placeholder="Selecione uma Liga">
            <ion-select-option value="f">SR X</ion-select-option>
            <ion-select-option value="m">SR Y</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-header>

    <ion-card-content>
      <table style="overflow: visible;">
        <tr>
          <th colspan="2" >Time</th>
          <th>Pts</th>
          <th>Pj</th>
          <th>Vit</th>
          <th>E</th>
          <th>DER</th>
          <th>Gols</th>
          <th>Ultimas 3</th>
        </tr>
        <tr>
          <td style="width: 0.001em !important" bgcolor="blue"></td>
          <td> Alfreds Futterkiste</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <ion-icon class="blue" name="chevron-down-circle-outline"></ion-icon>
            <ion-icon class="red" name="close-circle-outline"></ion-icon>
          </td>
        </tr>
        <tr>
          <td style="width: 0.1 px !important" bgcolor="green"></td>
          <td> Alfreds Futterkiste</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <ion-icon class="blue" name="chevron-down-circle-outline"></ion-icon>
            <ion-icon class="red" name="close-circle-outline"></ion-icon>
          </td>
        </tr>
        <tr>
          <td style="width: 0.1 px !important" bgcolor="yellow"></td>
          <td> Alfreds Futterkiste</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <ion-icon class="blue" name="chevron-down-circle-outline"></ion-icon>
            <ion-icon class="red" name="close-circle-outline"></ion-icon>
          </td>
        </tr>
        <tr>
          <td style="width: 0.1 px !important" bgcolor="red"></td>
          <td> Alfreds Futterkiste</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>26</td>
          <td>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <ion-icon class="blue" name="chevron-down-circle-outline"></ion-icon>
            <ion-icon class="red" name="close-circle-outline"></ion-icon>
          </td>
        </tr>

      </table>

    </ion-card-content>
  </ion-card>


</ion-content>
