<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-list>
          <ion-label>
            Liga
          </ion-label>
        <ion-item>
          <ion-select placeholder="Selecione uma Liga">
            <ion-select-option value="f">SR X</ion-select-option>
            <ion-select-option value="m">SR Y</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-header>

    <div id="faq">
      <ul>
        <li>
          <input type="checkbox" checked>
          <i></i>
            <ion-list>
              <ion-card  style="background:#1976d2; color:white">
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-col>
                        <h4>20/04/2021</h4>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h1>2</h1>
                        <h4>Agencia x</h4>
                      </ion-col>
                      <ion-col>
                        <h2>X</h2>
                      </ion-col>
                      <ion-col>
                        <h1>2</h1>
                        <h4>Agencia y</h4>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-list>
            <table>
              <tr>
                <th colspan="4">Agencia x</th>
              </tr>
              <tr>
                <th style="width:300px">Produto</th>
                <th>Resultado Anterior</th>
                <th>Resultado Atual</th>
                <th>Gols Marcados</th>
              </tr>
              <tr>
                <td>Previdência</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Vida</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Residencial</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
               <tr>
                <td>Prestamista</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="4">Agencia y</th>
              </tr>
              <tr>
                <th style="width:300px">Produto</th>
                <th>Resultado Anterior</th>
                <th>Resultado Atual</th>
                <th>Gols Marcados</th>
              </tr>
              <tr>
                <td>Previdência</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Vida</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Residencial</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
               <tr>
                <td>Prestamista</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
            </table>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
            <ion-list>
              <ion-card  style="background:#1976d2; color:white">
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-col>
                        <h4>20/04/2021</h4>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h1>2</h1>
                        <h4>Agencia x</h4>
                      </ion-col>
                      <ion-col>
                        <h2>X</h2>
                      </ion-col>
                      <ion-col>
                        <h1>2</h1>
                        <h4>Agencia y</h4>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-list>
            <table>
              <tr>
                <th colspan="4">Agencia x</th>
              </tr>
              <tr>
                <th style="width:300px">Produto</th>
                <th>Resultado Anterior</th>
                <th>Resultado Atual</th>
                <th>Gols Marcados</th>
              </tr>
              <tr>
                <td>Previdência</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Vida</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Residencial</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
               <tr>
                <td>Prestamista</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="4">Agencia y</th>
              </tr>
              <tr>
                <th style="width:300px">Produto</th>
                <th>Resultado Anterior</th>
                <th>Resultado Atual</th>
                <th>Gols Marcados</th>
              </tr>
              <tr>
                <td>Previdência</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Vida</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Residencial</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
               <tr>
                <td>Prestamista</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
            </table>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
            <ion-list>
              <ion-card  style="background:#1976d2; color:white">
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-col>
                        <h4>20/04/2021</h4>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h1>2</h1>
                        <h4>Agencia x</h4>
                      </ion-col>
                      <ion-col>
                        <h2>X</h2>
                      </ion-col>
                      <ion-col>
                        <h1>2</h1>
                        <h4>Agencia y</h4>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-list>
            <table>
              <tr>
                <th colspan="4">Agencia x</th>
              </tr>
              <tr>
                <th style="width:300px">Produto</th>
                <th>Resultado Anterior</th>
                <th>Resultado Atual</th>
                <th>Gols Marcados</th>
              </tr>
              <tr>
                <td>Previdência</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Vida</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Residencial</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
               <tr>
                <td>Prestamista</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="4">Agencia y</th>
              </tr>
              <tr>
                <th style="width:300px">Produto</th>
                <th>Resultado Anterior</th>
                <th>Resultado Atual</th>
                <th>Gols Marcados</th>
              </tr>
              <tr>
                <td>Previdência</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Vida</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Residencial</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
               <tr>
                <td>Prestamista</td>
                <td>56%</td>
                <td>58%</td>
                <td>2</td>
              </tr>
            </table>
        </li>
      </ul>
    </div>

  </ion-card>
</ion-content>
