
<ion-content >
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Regulamento
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
  <h1>1. A CAMPANHA</h1>
  <br>
  <p>
    1.1	A Campanha de Incentivo “Brasileirão CAIXA” é instituída, com o objetivo de incentivar os participantes a atingirem o Objetivo 100% na média dos objetivos propostos na Campanha, no mínimo, 80% no Vida, Previdência, Residencial e Prestamista.
  </p>
  <p>
    1.2	São participantes desta Campanha todas as Agências/PA Físicas, e, PA Agro e Agências Digitais.
  </p>
  <br>
  <h1>2	DA MECÂNICA</h1>
  <br>
  <p>2.1	As unidades irão competir entre si como se jogassem partidas de futebol.</p>
  <p>2.2	Cada unidade irá jogar contra outra unidade da mesma SR de vinculação</p>
  <p>2.3	Todos os dias uteis haverão jogos e cada unidade deverá jogar com uma unidade diferente até o fim da campanha, caso a quantidade de unidades seja menor que a quantidade de dias da campanha, haverá um segunda rodada de jogos</p>
  <p>2.4 Caso os itens de seguridade não tenham atualizado no conquiste todas as partidas serão remarcadas para o dia seguinte</p>
  <br>
  <h1>3	DA PONTUAÇÃO</h1>
  <br>
  <p>3.1	O critério de pontuação do campeonato será mensurada da seguinte forma:</p>
  <ul>
    <li>Agência que vencer a partida irá ganhar 3 pontos</li>
    <li>Se houver empate entre as unidades com gols feitos, as 2 unidades ganham 1 ponto</li>
    <li>Se houver empate de zero a zero entre as unidades nenhuma unidade pontua</li>
  </ul>
  <p>3.4 Em caso de empate de pontos o desempate ocorrerá pelo numero de vitorias, seguido pelo numero de gols.</p>
  <br>
  <h1>4	OS GOLS</h1>
  <p>4.1	As Unidades marcarão gols pela evolução da nota ou pelo atingimento da meta mínima. </p>
  <p>4.2	A Cada 1 ponto percentual evoluído diariamente no conquiste nos itens de Vida, Previdência, Residencial e Prestamista será considera como um gols, até a meta mínima da campanha. A regressão da nota e a posterior evolução não marcará gol, exemplo:</p>
  <ul>
    <li>	Primeiro dia: Maior percentual atingido no item previdência foi 50%. A nota evolui no dia para 52%. Gols marcados 52 -50=2 gols</li>
    <li>	Segundo dia. Maior percentual atingido no item previdência passa a ser 52%. A nota regrediu pra 50 %. Nenhum gol e marcado</li>
    <li>	Terceiro dia. Maior percentual atingido no item previdência foi 52%. A nota evolui no dia para 53%. Gols marcados 53 -52=1 gol</li>
  </ul>
  <p>4.3	Ao atingir ou ultrapassar a meta mínima de 80% nos itens de no Vida, Previdência, Residencial e Prestamista, a unidade sempre marcará um gol para cada 1 ponto percentual, exemplo.</p>
  <ul>
    <li>	Primeiro dia: percentual atingido no item residencial foi 80%. Como atingiu a meta mínima 1 gol é marcado.</li>
    <li>	Segundo dia: percentual atingido no item residencial foi 82%. Manteve a meta mínima e evoluiu mais 2 pontos percentuais, 3 gols marcados </li>
    <li>	Terceiro dia: percentual atingido no item residencial foi 81%. Manteve a meta mínima mas regrediu 1 ponto percentual, 2 gols marcados</li>
  </ul>

</ion-card-content>
</ion-content>
